.photoEnclos {

    height: 400px;
    background-size: cover;
    color: white;
    margin: 20px;
}
.test {

    overflow-y: scroll;
    height: 750px;
}
.infoEnclos {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90%;
    width: 60%;
}