

/* PARTIE INDEX */

#presentation {

    color: white;
    background-color: #325a26;
    margin-top: 100px;
    height: 150px;
    width: 50%;
}


#choose {

    height: 500px;
}

#allAnimal {

    background-color: #6aa74a;
    width: 30%;
    height: 50%;

}

#allEnclos {

    background-color: #BF693B;
    width: 30%;
    height: 50%;

}


/* FIN PARTIE INDEX  */


